<div class="summary-container">
    <div class="d-flex justify-content-center mt-5" *ngIf="stockDetails$|async as sentiment">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded text-center w-75 border border-dark-subtle">
            <div class="d-flex px-2 stock-header text-uppercase font-weight-bold">
                <p class="stock-label p-1 me-2">{{sentiment.symbol}}<p>
                <div>
                  {{sentiment.symbol}}
                </div>
              </div>
              <div class="row" *ngIf="sentiment?.data?.length">
                <div class="col" [ngClass]="{'border-end border-3': i!=2}" *ngFor="let monthData of sentiment.data.slice(0,3); let i=index">
                    <div class="row">
                        <div class="col">{{getMonthDetails(monthData.month)}} {{monthData.year}}</div>
                        <i class="col fa fa-arrow-circle-up fa-4x" aria-hidden="true" *ngIf="monthData.change>0"></i>
                        <i class="col fa fa-arrow-circle-down fa-4x" aria-hidden="true" *ngIf="monthData.change<=0"></i>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Change:</label>
                            <p>{{monthData.change}}</p>
                        </div>
                        <div class="col">
                            <label>MSPR:</label>
                            <p>{{monthData.mspr}}</p>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
              </div>
              <div class="row"  *ngIf="sentiment?.data?.length ===0">
                <div>Data not availabe</div>
              </div>
        </div>
    </div>
    <div class="text-center" routerLink="/home">
        <button class="btn btn-link"><i class="fa fa-arrow-left me-2" aria-hidden="true" id="backBtn"></i><span>Back to list of stocks</span></button>
    </div>
</div>